Repository blitzy-public-samples/hao-test-gx06nf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @api-team, @backend-leads, @database-team, @services-team, @platform-team, @qa-team, @devops-team, @platform-leads, @security-team

.github/CODEOWNERS:

# Global ownership - fallback for unmatched files
* @project-leads

# API Implementation
src/backend/src/api/** @api-team @backend-leads

# Database Layer
src/backend/src/db/** @database-team @backend-leads

# Business Services
src/backend/src/services/** @services-team @backend-leads

# Configuration Management
src/backend/src/config/** @platform-team @backend-leads

# Core Functionality
src/backend/src/core/** @platform-team @backend-leads

# Test Suite
src/backend/tests/** @qa-team @backend-leads

# Infrastructure Code
infrastructure/** @devops-team @platform-leads

# CI/CD Workflows
.github/workflows/** @devops-team @platform-leads

# Security-Critical Components
# Authentication and Authorization
src/backend/src/api/auth/** @security-team @backend-leads

# Security Middleware
src/backend/src/api/middleware/security.py @security-team @backend-leads

# Rate Limiting
src/backend/src/api/middleware/rate_limiting.py @security-team @backend-leads

# Database Encryption
src/backend/src/db/encryption/** @security-team @database-team

# This CODEOWNERS file enforces the following review requirements:
# - Minimum 2 approvals required for all changes
# - Code owner review is mandatory
# - Stale reviews are automatically dismissed
# - Up-to-date branches required before merging
# - Security team review required for security-critical components
# - Branch protection enforced with signed commits
# - Force pushes and deletions prohibited

Add public-samples/hao-test-gx06nf/src/backend/src/api/__init__.py
  src/backend/src/api/__init__.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/routes.py
  src/backend/src/api/routes.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/auth/__init__.py
  src/backend/src/api/auth/__init__.py
Owners: @security-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/auth/decorators.py
  src/backend/src/api/auth/decorators.py
Owners: @security-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/auth/google.py
  src/backend/src/api/auth/google.py
Owners: @security-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/auth/jwt.py
  src/backend/src/api/auth/jwt.py
Owners: @security-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/auth/middleware.py
  src/backend/src/api/auth/middleware.py
Owners: @security-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/auth/utils.py
  src/backend/src/api/auth/utils.py
Owners: @security-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/endpoints/__init__.py
  src/backend/src/api/endpoints/__init__.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/endpoints/health.py
  src/backend/src/api/endpoints/health.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/endpoints/items.py
  src/backend/src/api/endpoints/items.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/endpoints/projects.py
  src/backend/src/api/endpoints/projects.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/endpoints/specifications.py
  src/backend/src/api/endpoints/specifications.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/endpoints/users.py
  src/backend/src/api/endpoints/users.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/errors/__init__.py
  src/backend/src/api/errors/__init__.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/errors/exceptions.py
  src/backend/src/api/errors/exceptions.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/errors/handlers.py
  src/backend/src/api/errors/handlers.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/middleware/__init__.py
  src/backend/src/api/middleware/__init__.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/middleware/cache.py
  src/backend/src/api/middleware/cache.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/middleware/logging.py
  src/backend/src/api/middleware/logging.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/middleware/rate_limit.py
  src/backend/src/api/middleware/rate_limit.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/middleware/security.py
  src/backend/src/api/middleware/security.py
Owners: @security-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/schemas/__init__.py
  src/backend/src/api/schemas/__init__.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/schemas/items.py
  src/backend/src/api/schemas/items.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/schemas/projects.py
  src/backend/src/api/schemas/projects.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/schemas/specifications.py
  src/backend/src/api/schemas/specifications.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/api/schemas/users.py
  src/backend/src/api/schemas/users.py
Owners: @api-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/config/__init__.py
  src/backend/src/config/__init__.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/config/cache.py
  src/backend/src/config/cache.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/config/database.py
  src/backend/src/config/database.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/config/logging.py
  src/backend/src/config/logging.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/config/security.py
  src/backend/src/config/security.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/config/settings.py
  src/backend/src/config/settings.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/core/__init__.py
  src/backend/src/core/__init__.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/core/cache.py
  src/backend/src/core/cache.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/core/database.py
  src/backend/src/core/database.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/core/logging.py
  src/backend/src/core/logging.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/core/security.py
  src/backend/src/core/security.py
Owners: @platform-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/__init__.py
  src/backend/src/db/__init__.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/base.py
  src/backend/src/db/base.py
Owners: @database-team, @backend-leads
