Repository blitzy-public-samples/hao-test-gx06nf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @api-team, @backend-leads, @database-team, @services-team, @platform-team, @qa-team, @devops-team, @platform-leads, @security-team

.github/CODEOWNERS:

# Global ownership - fallback for unmatched files
* @project-leads

# API Implementation
src/backend/src/api/** @api-team @backend-leads

# Database Layer
src/backend/src/db/** @database-team @backend-leads

# Business Services
src/backend/src/services/** @services-team @backend-leads

# Configuration Management
src/backend/src/config/** @platform-team @backend-leads

# Core Functionality
src/backend/src/core/** @platform-team @backend-leads

# Test Suite
src/backend/tests/** @qa-team @backend-leads

# Infrastructure Code
infrastructure/** @devops-team @platform-leads

# CI/CD Workflows
.github/workflows/** @devops-team @platform-leads

# Security-Critical Components
# Authentication and Authorization
src/backend/src/api/auth/** @security-team @backend-leads

# Security Middleware
src/backend/src/api/middleware/security.py @security-team @backend-leads

# Rate Limiting
src/backend/src/api/middleware/rate_limiting.py @security-team @backend-leads

# Database Encryption
src/backend/src/db/encryption/** @security-team @database-team

# This CODEOWNERS file enforces the following review requirements:
# - Minimum 2 approvals required for all changes
# - Code owner review is mandatory
# - Stale reviews are automatically dismissed
# - Up-to-date branches required before merging
# - Security team review required for security-critical components
# - Branch protection enforced with signed commits
# - Force pushes and deletions prohibited

Add public-samples/hao-test-gx06nf/src/backend/src/db/session.py
  src/backend/src/db/session.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/migrations/__init__.py
  src/backend/src/db/migrations/__init__.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/migrations/env.py
  src/backend/src/db/migrations/env.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/migrations/script.py.mako
  src/backend/src/db/migrations/script.py.mako
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/migrations/versions/.gitkeep
  src/backend/src/db/migrations/versions/.gitkeep
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/models/__init__.py
  src/backend/src/db/models/__init__.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/models/items.py
  src/backend/src/db/models/items.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/models/projects.py
  src/backend/src/db/models/projects.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/models/specifications.py
  src/backend/src/db/models/specifications.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/models/users.py
  src/backend/src/db/models/users.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/repositories/__init__.py
  src/backend/src/db/repositories/__init__.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/repositories/base.py
  src/backend/src/db/repositories/base.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/repositories/items.py
  src/backend/src/db/repositories/items.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/repositories/projects.py
  src/backend/src/db/repositories/projects.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/repositories/specifications.py
  src/backend/src/db/repositories/specifications.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/db/repositories/users.py
  src/backend/src/db/repositories/users.py
Owners: @database-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/services/__init__.py
  src/backend/src/services/__init__.py
Owners: @services-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/services/auth.py
  src/backend/src/services/auth.py
Owners: @services-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/services/cache.py
  src/backend/src/services/cache.py
Owners: @services-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/services/items.py
  src/backend/src/services/items.py
Owners: @services-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/services/projects.py
  src/backend/src/services/projects.py
Owners: @services-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/services/specifications.py
  src/backend/src/services/specifications.py
Owners: @services-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/services/users.py
  src/backend/src/services/users.py
Owners: @services-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/src/utils/__init__.py
  src/backend/src/utils/__init__.py
Owners: @project-leads

Add public-samples/hao-test-gx06nf/src/backend/src/utils/constants.py
  src/backend/src/utils/constants.py
Owners: @project-leads

Add public-samples/hao-test-gx06nf/src/backend/src/utils/decorators.py
  src/backend/src/utils/decorators.py
Owners: @project-leads

Add public-samples/hao-test-gx06nf/src/backend/src/utils/helpers.py
  src/backend/src/utils/helpers.py
Owners: @project-leads

Add public-samples/hao-test-gx06nf/src/backend/src/utils/validators.py
  src/backend/src/utils/validators.py
Owners: @project-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/integration/test_auth.py
  src/backend/tests/integration/test_auth.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/integration/test_items.py
  src/backend/tests/integration/test_items.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/integration/test_projects.py
  src/backend/tests/integration/test_projects.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/integration/test_specifications.py
  src/backend/tests/integration/test_specifications.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/unit/test_auth.py
  src/backend/tests/unit/test_auth.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/unit/test_cache.py
  src/backend/tests/unit/test_cache.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/unit/test_models.py
  src/backend/tests/unit/test_models.py
Owners: @qa-team, @backend-leads

Add public-samples/hao-test-gx06nf/src/backend/tests/unit/test_repositories.py
  src/backend/tests/unit/test_repositories.py
Owners: @qa-team, @backend-leads
